---
import RecentPosts from '../components/RecentPosts.astro';
import Main from './Main.astro';
import { Image } from 'astro:assets';
import { getBlogs } from '../utils/getBlogs';

const { title, subtitle, poster } = Astro.props.frontmatter;

const blogs = await getBlogs();
const otherBlogs = blogs.filter(({ data }) => {
  return title !== data.title;
});
---

<Main pageTitle={title}>
  <header
    class="animate relative w-full h-64 bg-gray-800 flex items-center justify-center mb-4"
  >
    <Image
      src={`${import.meta.env.BASE_URL}/${poster}`}
      alt="Poster image"
      width={1024}
      height={480}
      class="absolute inset-0 w-full h-full object-cover opacity-50"
    />
    <div class="relative z-10 text-center">
      <h1 class="text-4xl font-bold text-white dark:text-grey-900">
        {title}
      </h1>
      {
        subtitle && (
          <h2 class="text-2xl text-gray-300 dark:text-grey-600">{subtitle}</h2>
        )
      }
    </div>
  </header>

  <div class="animate container mx-auto px-4 lg:px-8">
    <article class="prose dark:prose-invert">
      <slot />
    </article>
  </div>

  <RecentPosts blogs={otherBlogs} />
</Main>
